a {
    color: #007ee5;
}

body, .tableCaption a.buildTypeName, .projectHeaderTable a, .projectHeaderTable a:hover, .projectHeaderTable a:visited {
    color: #47525d;
}

span.none, .feed-links, .divsWithHeaders h2, .icon.buildDataIcon {
    display: none;
}

span[class*="build-status-icon_personal"] + * + * a {
    content: "PERSONAL";
    color: #888
}

span[class*="buildType-icon_failing"] + * span {
    background-color: #FFF6FF;
}

.statusTable .progress {
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
}

span.buildType-icon {
    display: none;
}

span.pc .toggle {
    background-image: none;
    padding-bottom: 1px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #ccc;
}

span.pc .toggle:hover {
    border-top: 6px solid #007ee5;
}

.runnerFormTable th, .runnerFormTable td {
    border-top: none;
}

#userPanel .search {
    display: none;
}

.footerMainContainer {
    display: none;
}

.tests-group .group-name {
    border-top: none;
}

.failureStatusBlock, .runningBuildStatus {
    border: none;
    padding: 1px;
}

table.dark th {
    padding-bottom: 5px;
    color: #555;
    text-align: left;
    font-weight: normal;
    background-color: white;
    border-bottom: 1px solid #ccc
}

.inheritedParam {
    font-style: normal;
}

table.borderBottom tr:hover {
    background-color: #FFFFE3;
}

#tabsContainer .tabs li {
    font-size: 100%;
    font-weight: normal;
}

table.borderBottom td {
    border: none;
}

.divsWithHeaders > div {
    border: none;
}

#footer .footerMainContainer {
    border: none;
}

table.overviewTypeTable td.status {
    padding-right: 0;
}

table.overviewTypeTable td.buildNumber {
    padding-left: 0;
}

.tableCaption {
    border: none;
}

.bt-separator {
    display: none;
    border: none;
    height: 5px;
    margin-left: 2em;
}

.joinedChangeTable > tbody > tr > td {
    border: none;
}

.build > .projectHeader {
    background: #F9FAFB;
    /*background: white;*/
}

.progress {
    height: 20px;
    border-bottom: 1px solid #E1E1E1;
    background-color: transparent;
    text-align: right;
    float: right;
}

.progressOvertime {
    display: none !important;
}

.progressInnerSuccessful {
    background-color: #4da400;
}

.progressInnerFailed {
    background-color: #C10000;
}

.progressInner {
    height: 1px;
    margin-top: 20px;
}

.tableCaption table.runTable td.runningStatus {
    padding-right: 2.2em;
}

td.pendingMessage {
    width: 10em !important;
}

.fixedWidth {
    padding: 0 10px;
}

.stopBuild > span > a {
    color: #888;
}

.tableCaption {
    margin: 0 1em;
}

td.branch {
    width: 1em;
}

td.buildNumber {
    color: #888;
    padding-right: 0;
}

td.buildNumber.detachedChanges > span {
    background-color: #EEF4FC; /* another color? */
    display: none;
}

span.runningStatus > img {
    display: none !important;
}

table.overviewTypeTable td {
    padding: 0.3em 0;
}

table.overviewTypeTable tr:hover {
    background-color: #FFFFe9;
}

body.pageBG {
    background: #FFFFFD;
}

#tabsContainer .tabs li.selected, #userPanel .info.selected {
    padding-bottom: 1px;
    border-bottom: 2px solid #007ee5;
}

.simpleTabs .tabs li.selected {
    margin: 2px 0 0;
    border: none;
    border-bottom: 1px solid #007ee5;
    background-image: none;
}

.simpleTabs .tabs li {
    border: none;
    margin: 1px 0 0;
    padding-bottom: 1px;
}