.toggle {
/*    background-position: -2px 0px;*/
}

span.none, .feed-links, .divsWithHeaders  h2, .icon.buildDataIcon {
    display:none;
}

span[class*="build-status-icon_personal"] +* +* {
    content: "PERSONAL";
    background-color: #EEF4FC;
}

#userPanel .search {
    display:none;
}

.footerMainContainer {
    display:none;
}

.tests-group .group-name {
    border-top:none;
}

.failureStatusBlock {
    border:none;
}

table.dark th {
    padding-bottom: 5px;
    color: #555;
    text-align: left;
    font-weight: normal;
    background-color:white;
    border-bottom: 1px solid #ccc
}

.inheritedParam {
    font-style:normal;
}

table.borderBottom tr:hover {
    background-color: #FFFFE3;
}

#tabsContainer .tabs li {
		font-size: 100%;
        font-weight: normal;
}

table.borderBottom td {
    border: none;
}

.divsWithHeaders > div {
    border: none;
}

#footer .footerMainContainer {
	border: none;
}

table.overviewTypeTable td.status {
    padding-right:0;
}

table.overviewTypeTable td.buildNumber {
    padding-left:0;
}
    
.tableCaption {
    border: none;
}

.bt-separator {
    display:none;
    border: none;
        height: 5px;
    margin-left: 2em;
}

.joinedChangeTable > tbody > tr > td {
    border: none;
}

.build > .projectHeader {
    background: #F9FAFB;
    /*background: white;*/
}

.progress {
    background-color: #F9FAFB;
}

.progressInnerSuccessful {
    background-color: #399E4B;
}
                                       
.progressInnerFailed {
    background-color: #F4897B;
}
         
